<html>
<head>
  <link rel="stylesheet" href="/static/style.css"></style>
</head>
<body>

  <h1>Champion Table</h1>

  <table>
    <tr>
      <th>Champion Name</th>
      <th>Champion Origin</th>
      <th>Champion Attack type</th>
    </tr>
    <tr>
      <td>Jhin</td>
      <td>Ionia</td>
      <td>Ranged</td>
    </tr>
    <tr>
      <td>Veigar</td>
      <td>Bandle City</td>
      <td>Skills</td>
    </tr>
    <tr>
      <td>
        {{firstname}}
      </td>
      <td>
        {{lastname}}
      </td>
      <td>
        {{attacktype}}
      </td>
    </tr>
  </table>
</body>

</html>