<html>

<body>
    <form action="newStaff">
        <label for=firstName>First name: </label><input id=firstName type="text" name="firstName" />
        <label for=lastName>Last name: </label><input id=lastName type="text" name="lastName" />
        <label for=email>Email: </label><input id=email type="text" name="email" />
        <label for=username>Username: </label><input id=username type="text" name="username" />
        <label for=password>Password: </label><input id=password type="text" name="password" />
        <button type="submit">Create new Staff</button>
    </form>
</body>

</html>