<!doctype html>
<html>

<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <title>{% block title %}{% endblock %} - LoL Database</title>
</head>

<body>
   <h1>
      {% block header %}{% endblock %}
   </h1>
   {% block content %}{% endblock %}
   <p><a href="/showPrefItem">Show all champions</a></p>
   <p><a href="/showItem">Show all items</a></p>
   <p><a href="/showChamp">Add or update champion list</a></p>
   <p><a href="/addItem">Add or update item list</a></p>
   <p><a href="/deletePrefItem">Remove an item from a champion</a></p>
</body>

</html>